body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/*colors*/
:root {
  --primary: var(#3867d5);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #3867d5;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3867d5;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* Card Preview / list */

.card-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.card-preview:hover {
  box-shadow: 2px 4px 6px rgba(0,0,0,0.15);
}
.card-preview h2 {
  font-size: 20px;
  color: #3867d5;
  margin-bottom: 8px;
}

.card-preview a {
  text-decoration: none;
}

/*  Card Details Page   */
.card-details h2 {
  font-size: 20px;
  color: #3867d5;
  margin-bottom: 10px;
}

.card-details div {
  margin: 20px 0;
}

.card-details button {
  color: #fff;
  min-width: 60px;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.card-details .delete-btn {
  background: #c71c1c;
}

.card-details .edit-btn {
  background: #0c8620;
  margin-left: 16px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #3867d5;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #3867d5;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}