body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,textarea {
  width:100%;
  display:block 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/*colors*/
:root {
  --primary: var(#3867d5);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  /*max-width: 600px;*/
  max-width: 85vw;
  margin: 0 auto;
  /*margin: 0 6.5vw;*/
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #3867d5;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  /*margin-left: 16px;*/
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #3867d5;
}
.content {
  /*max-width: 600px;*/
  max-width: 85vw;
  /*margin: 40px auto;*/
  margin: 20px 6.5vw;
  padding: 20px;
}

/* Card Preview / list */

.card-preview {
  padding: 10px 16px;
  margin: 20px 0;
  min-height: 100px;
  border-bottom: 1px solid #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.card-preview .left {
  width: 50%;
  padding-right: 0px; 
  margin-right: 0; 
  left: 0;
}

.card-preview .right {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.card-preview:hover {
  box-shadow: 2px 4px 6px rgba(0,0,0,0.15);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.card-preview:active {
  -webkit-transform: scale(.97) translateY(2px);
      -ms-transform: scale(.97) translateY(2px);
          transform: scale(.97) translateY(2px);
}

.card-preview h2 {
  font-size: 20px;
  color: #3867d5;
  margin-bottom: 8px;
}

.card-preview a {
  text-decoration: none;
}

.card-preview .right amplify-s3-image {
  --height: 100%;
}

/*  Card Details Page   */
.card-details h2 {
  font-size: 20px;
  color: #3867d5;
  margin-bottom: 10px;
}

.card-details div {
  margin: 20px 0;
}

.card-details div.create {
  margin: 0 auto;
}

/*.card-details button {*/
button {
  display: inline-block;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  -webkit-box-shadow: 0px 2px 5px -1px rgb(14, 0, 0);

          box-shadow: 0px 2px 5px -1px rgb(14, 0, 0);
  color: #fff;
  min-width: 60px;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin: auto 12.5px;
}

button:hover {
  cursor: pointer;
  -webkit-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

button:active {
  -webkit-transform: scale(.97) translateY(2px);
      -ms-transform: scale(.97) translateY(2px);
          transform: scale(.97) translateY(2px);
}

/*--------------*/

/*  Do this one for each button type  */
.button-solid:hover {
    background-color: var(--primarybuttonhover);
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}
/*-------------*/

.navbar a.create-link {
  padding-right: 0px !important;
}

.new-btn { 
  background: #3867d5;
  margin-right: 0px;
}

.new-btn:hover { 
  background: #335fc7;
}

.signout-container {
  width: 100px;
  display: flex;
  /*margin: 10px 25px 10px 75%;*/
  /*margin-right: 0px !important;*/
  min-width: none;
  margin-left: auto;
}

.signout-container main {
  margin-left: auto;
}

.sign-btn { 
  background: #c98104;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 0px;
}

.sign-btn:hover { 
  background: #bf7a04;
}

/*.card-details .delete-btn {*/
.delete-btn {
  background: #c71c1c;
}

.delete-btn:hover {
  background: #b21a1a;
}

/*.card-details .edit-btn {*/
.edit-btn {
  background: #0c8620;
  margin-left: 16px;
}

.edit-btn:hover {
  background: #0c711d;
}

/*.card-details .cancel-btn {*/
.cancel-btn {
  background: #3867d59c;
  margin-bottom: 10px;
}

.cancel-btn:hover {
  background: #2e56b2c5;
}

.save-btn {
  background: #0c8620;
}

.save-btn:hover {
  background: #0c7820;
}

.card-details .output {
  display: flex;
  position: relative;
  height: fit-content;
}

.card-details .left {
  width: 50%;
  height: fit-content;
  padding-right: 0px; 
  margin-right: 0; 
  left: 0;
}

/*.card-details .right {
  width: 50%; 
  padding-left: 0px; 
  margin-left: 0; 
  right: 0;
}

.card-details .right-top {
  margin-right: 15%;
  max-width: 350px;
}

.card-details amplify-s3-image {
  /*--width: 300px;* /
  --height: 25vw;
}

.card-details .right-bottom {
  /*margin: 50% auto;
  left: 25%;
  position: relative;* /
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-details .bottom {
  width: 100%; 
  left: 0;
}
*/

.card-details .right {
  width: 50%; 
  padding-left: 0px; 
  margin-left: 0; 
  right: 0;
  display: flex;
  flex-direction: row;
}

.card-details .right-top {
  margin-right: 0px;/*15%;*/
  max-width: 350px;
  right: 0;
}

.card-details amplify-s3-image {
  /*--width: 300px;*/
  --height: 20vw;
}

.card-details .right-bottom {
  /*margin: 50% auto;
  left: 25%;
  position: relative;*/
  position: absolute;
  bottom: 0;
  right: 0;
}

/*.card-details .bottom button.delete-btn,
.card-details .bottom button.edit-btn {
  display: block;
  right: 0px;
}*/

.card-details .bottom {
  position: relative;
  width: fit-content !important; 
  margin-left: auto;
  margin-right: 0;
  right: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: flex-end;
}

/*  Card Detailed Edit  */

.card-edit .title {
  text-align: center;
}

/* create new card form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #3867d5;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #3867d5;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/*----------------*/
/*---- Table -----*/
/*----------------*/
.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  /*table-layout: fixed;*/
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  overflow-wrap: break-word ;
  /*word-wrap: break-word;
  word-break: break-all;*/
}

th {
  background-color: rgb(117, 201, 250);
  /*word-wrap: break-word;*/
  min-width: 50px;
  max-width: 120px;
}

td {
  background-color: rgb(205, 235, 253);
  /*word-break: keep-all;*/
  min-width: 50px;
  max-width: 200px;
  overflow: hidden;
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

tbody tr:hover td {
  background-color: rgb(200, 230, 248);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

tbody tr:hover td {
  background-color: rgb(200, 230, 248);
  -webkit-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

tr td input {
  min-width: 50px;
  max-width: 120px;
  /*text-overflow: ellipsis;*/
}

td.long {
  max-width: 80px;
}

.long-short {
  max-width: 60px;
}

.table-image amplify-s3-image {
  --width: 100px;
}

table .edit-btn {
  margin: auto 12.5px 10px;
}

.table form {
  display: flex;
  gap: 5px;
}

.table form td:last-child {
  /*display: flex;*/
  justify-content: space-evenly;
}

.table form * {
  font-size: 12px;
}

.table form input {
  min-width: 100px;
  width: fit-content;
}

/*.add-form label {
  margin-left: 20px;
}

.add-form label:nth-of-type(1) {
  margin-left: 0px;
}*/

.table div.add-form {
  padding: 20px;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-items: center;
  /*max-width: 600px;*/
  max-width: 85vw;
  margin: 0 auto;
  flex: auto;
}

.table .input-field {
  width: 50%;
}

.table .input-field label {
  width: 100%;
}

.table .input-field input {
  width: 100%;
}

/*.table .table-btn-margin-left {
  margin-left: 8px;
}*/

/*.table form .add-form {
  /*  Fix add form spacing * /
  display: flex;
  flex-direction: row;
}*/

/* resets the button styling */
th button.btn-image {
  background: transparent !important;
  margin: 0px;
  padding: 0px;
  /*min-width: 0px !important;*/
  width: fit-content !important;
  text-align: center;
  display: inline-block;
  border: none;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(14, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(14, 0, 0, 0);
  
}

th button.btn-image:hover {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);  
}

th button.btn-image:active {
  -webkit-transform: scale(1.45);
      -ms-transform: scale(1.45);
          transform: scale(1.45);
}